<!DOCTYPE html>
<html>
  <head>
    <title>Clojure Heroes</title>
  </head>
  <body>
    <div>
      <h1>Clojure Heroes</h1>
      <hr>
      <a href='http://clojure.org/'>Clojure website</a>
      <ul id='list'>
        <li>
          <h2 class='name'>Rich Hickey</h2>
          <p>Creator of Clojure.</p>
          <a href='https://twitter.com/richhickey'>Follow @richhickey</a>
        </li>
        <li data-focus='true'>
          <h2 class='name'>Christophe Grand</h2>
          <p>Creator of Enlive and co-author of Clojure Programming.</p>
          <a href='https://twitter.com/cgrand'>Follow @cgrand</a>
        </li>
        <li>
          <h2 class='name'>Stuart Halloway</h2>
          <p>Author of Programming Clojure.</p>
          <a href='https://twitter.com/stuarthalloway'>Follow @stuarthalloway</a>
        </li>
      </ul>
    </div>
  </body>
</html>